<%- include('parts/header') %>
    <%- include('parts/navbar') %>
        <div class="container">
            <p class="alert alert-danger">SomeThing went Wrong</p>
        </div>
        <%- include('parts/footer') %>