<%- include('parts/header') %>
<%- include('parts/navbar') %>

<div class="container text-center">
    <br>
    <h3>Verify Order</h3>

    <form method="POST" action="/orders">
        <input type="hidden" name="cardId" value="<%= cardId %>">
        <input type="text" class="form-control" name="user_address" placeholder="Address">     <br>
        <input type="submit" class="btn btn-primary" value="Order">
    </form>
</div>
<%- include('parts/footer') %>
