<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- first mobile meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- bootstrap file  -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- this to  put codes of bootstrap file and edit it in rtl-->
    <link rel="stylesheet" href="/css/rtl.css">
    <link rel="stylesheet" href="/css/mystyle.css">
    <!-- jquery and javascript files  jquery should be before bootstrap-->
    <title>
        <%= pageTitle %> Online Shop
    </title>
</head>

<body>